#cluster-map {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
}

#map {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
}
